/* FONTS */
@font-face {
    font-family: pixelated;
    src: url(fonts/pixel.ttf);
}

/* UNIVERSAL AND BODY */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pixelated;
}

body {
    background: #070707;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

/* BUBBLE BACKGROUND */
.backgroundContainer {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    z-index: -1;
}

.bubbleBackground {
    position: absolute;
    display: flex;
    /* background-color: blueviolet; */
}

.bubbleBackground span {
    width: 20px;
    height: 20px;
    background: #c51a1a;
    border-radius: 50%;
    box-shadow: 0 0 0 0px #c51a1a44,
        0 0 50px #c51a1a,
        0 0 60px #c51a1a;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

@media (max-width: 800px) {
    .bubbleBackground span {
        width: 15px;
        height: 15px;
    }
}

/* PLAYER DETAILS */

.playerDetailsContainer {
    min-height: 450px;
    min-width: 550px;
    border-radius: 35px;
    max-width: auto;
    max-height: 90vw;


    display: flex;
    flex-direction: column;

    background-color: #070707;
    position: relative;

    color: white;
}

.playerDetailsBar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 40px;
    max-width: auto;
    max-height: 90vw;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #070707;
    border: 1px solid #e1d9d9;

    color: #e1d9d9;
    box-shadow: 0 0 35px #970000;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.playerDetailsContainer::after, .playerDetailsContainer::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 320px;
    width: 700px;
    background-image: conic-gradient(from var(--angle), #970000, #531212, #d51818, #970000, #531212, #d51818, #970000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.playerDetailsContainer::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

p {
    font-size: 15px;
    letter-spacing: 2px;
    color: #e1d9d9;
    text-shadow:
        0 0 5px #970000,
        0 0 10px #970000,
        0 0 15px #970000,
        0 0 20px #970000;
    animation:
        flicker 1.5s infinite alternate;
}

h2 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #e1d9d9;
    text-shadow:
        0 0 5px #970000,
        0 0 10px #970000,
        0 0 15px #970000,
        0 0 20px #970000;
    animation:
        flicker 1.5s infinite alternate;
}


/* Player Details Display Bar */

.playerDetailsBar {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 370px;
    min-height: 50px;
    max-height: 90vw;
    max-width: auto;
    background-color: #070707;
    border: 1px solid #e1d9d9;

    color: #e1d9d9;
    box-shadow: 0 0 35px #970000;

    margin-top: 100px;
    margin-bottom: 50px;
}

.playerDetailsBar h1 {
    font-size: 20px;
    color: #e1d9d9;
    text-shadow: 
        0 0 5px #970000,  
        0 0 10px #970000,
        0 0 15px #970000,
        0 0 20px #970000;
    letter-spacing: 5px;

    border-right: 2px solid;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;

    animation: 
        flicker 1.5s infinite alternate,
        typing 1.0s steps(15),
        cursor .4s step-end infinite alternate;
    }

.titleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerDetails{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    margin-bottom: 50px;
}

.playerAddress{
    margin-bottom: 30px;
}

.addressFormat{
    width: 600px;
    word-break: break-word;
    line-height: 25px;

    margin-bottom: 20px;
}

.nameFormat{
    width: 600px;
    word-break: break-word;
    line-height: 25px;
}

.playersFormat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1500px;
    gap: 50px;
    margin-bottom: 50px;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerInfo{
    margin-left: 50px;
    margin-top: 30px;
}

.playerInfo > p{
    margin-bottom: 8px;
}


.playerActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
    position: absolute;
    margin-top: 275px;
    margin-left: 100px;
}

/* For animation */

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* BUTTON */

a {
    position: relative;
    background: #181818;
    color: #e1d9d9;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 6px 60px;
    transition: 0.5s;
    border: 0;
    height: 20px;
    width: 80px;
    margin-left: 30px;
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: #070707;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* BUTTON */

.addPlayerButton {
    position: relative;
    background: #181818;
    color: #e1d9d9;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 8px 80px;
    transition: 0.5s;
    border: 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.addPlayerButton:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.addPlayerButton::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: #070707;
}

.addPlayerButton span {
    position: relative;
    z-index: 1;
}

.addPlayerButton i {
    position: absolute;
    inset: 0;
    display: block;
}

.addPlayerButton i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transform: translateX(-50%);
    transition: 0.5s;
}

.addPlayerButton:hover i::before {
    width: 20px;
    left: 20%;
}

.addPlayerButton i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transition: 0.5s;
}

.addPlayerButton:hover i::after {
    width: 20px;
    left: 80%;
}

.addPlayer{
    margin-bottom: 30px;
}

a:link{
    background-color: #970000;
    color: #070707;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
}

/* RESPONSIVENESS */

@media (max-width: 800px) {
    .playerDetailsContainer {
        height: 450px;
        width: 550px;
    }


    .playerDetailsContainer::after,
    .playerDetailsContainer::before {
        min-height: 450px;
        min-width: 550px;
    }
    
    .playerDetails{
        margin-left:-300px;
        margin-bottom: 0px;
    }
}


@media (max-width: 650px) {
    .playerDetailsContainer {
        height: 350px;
        width: 400px;
    }


    .playerDetailsContainer::after,
    .playerDetailsContainer::before {
        height: 350px;
        width: 400px;
    }

    .playerDetailsBar {
        width: 270px;
        margin-bottom: 30px;
    }

    .playerDetailsBar h1 {
        font-size: 14px;
        letter-spacing: 2px;
        width: 180px;
    }

    p {
        font-size: 12px;
    }

    h2 {
        font-size: 13px;
    }

    .playerDetails{
        margin-left:-150px;
        margin-bottom: 0px;
    }
}


@media (max-width: 450px) {
    .playerDetailsContainer {
        height: 350px;
        width: 300px;
    }

    .playerDetailsContainer::after,
    .playerDetailsContainer::before {
        min-height: 350px;
        min-width: 300px;
    }

    .playerDetailsBar {
        width: 200px;
    }

    .playerDetailsBar h1 {
        font-size: 13px;
        letter-spacing: 2px;
        width: 170px;
    }

    p {
        font-size: 12px;
    }

    h2 {
        font-size: 13px;
    }

    .playerDetails{
        margin-left: -150px;
        margin-bottom: 0px;
    }
}