* {
    margin: 0;
    padding: 0;
}

body {
    background: #070707;
}

@font-face {
    font-family: pixelated;
    src: url(fonts/pixel.ttf);
}

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* BUBBLE BACKGROUND */
.backgroundContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubbleBackground {
    position: absolute;
    display: flex;
}

.bubbleBackground span {
    width: 20px;
    height: 20px;
    background: #c51a1a;
    border-radius: 50%;
    box-shadow: 0 0 0 0px #c51a1a44,
        0 0 50px #c51a1a,
        0 0 60px #c51a1a;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

@media (max-width: 800px) {
    .bubbleBackground span {
        width: 15px;
        height: 15px;
    }
}

.playerAcquiredContainer {
    height: 400px;
    width: 750px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    position: relative; 
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.playerAcquiredContainer::after, .playerAcquiredContainer::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 400px;
    width: 750px;
    background-image: conic-gradient(from var(--angle), #970000, #531212, #d51818, #970000, #531212, #d51818, #970000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.playerAcquiredContainer::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* Notification */
.notification-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1a1a1a;
    border: 2px solid red;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px red;
}

.notification-box h1 {
    font-family: 'Courier New', monospace; 
    font-size: 24px;
    color: white;
    text-shadow: 
        0 0 5px red,  
        0 0 10px red,
        0 0 15px red,
        0 0 20px red;
    margin-bottom: 0px; 
    letter-spacing: 2px;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
}

.welcome-message {
    font-family: 'Courier New', monospace; 
    font-size: 24px;
    color: white; 
    text-shadow: 
        0 0 5px red, 
        0 0 10px red,
        0 0 15px red,
        0 0 20px red;
    letter-spacing: 2px;
    margin-top: 10px; 
    text-align: center; 
}

/* For flickering animation */
@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.welcome-message {
    animation: flicker 1.5s infinite alternate; 
}

/* button */
.login-button {
    background-color: black;
    color: white;
    border: 2px solid red;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: red;
}


@media (max-width: 800px) {
    .playerAcquiredContainer{
        height: 400px;
        width: 600px;
    }

    .playerAcquiredContainer::after, .playerAcquiredContainer::before {
    height: 400px;
    width: 600px;
    }
}

@media (max-width: 650px) {
    .playerAcquiredContainer{
        height: 400px;
        width: 400px;
    }

    .playerAcquiredContainer::after, .playerAcquiredContainer::before {
    height: 400px;
    width: 400px;
    }
}

@media (max-width: 450px) {
    .playerAcquiredContainer{
        height: 400px;
        width: 300px;
    }

    .playerAcquiredContainer::after, .playerAcquiredContainer::before {
    height: 400px;
    width: 300px;
    }
}