/* FONTS */
@font-face {
    font-family: pixelated;
    src: url(fonts/pixel.ttf);
}

/* UNIVERSAL AND BODY */
* {
    margin: 0;
    padding: 0;
    font-family: pixelated;
}

body {
    background: #070707;
}

.wrapper {
    position: relative;
    display: flex;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

/* BUBBLE BACKGROUND */
.backgroundContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubbleBackground {
    position: absolute;
    display: flex;
}

.bubbleBackground span {
    width: 20px;
    height: 20px;
    background: #c51a1a;
    border-radius: 50%;
    box-shadow: 0 0 0 0px #c51a1a44,
        0 0 50px #c51a1a,
        0 0 60px #c51a1a;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

@media (max-width: 800px) {
    .bubbleBackground span {
        width: 15px;
        height: 15px;
    }
}

/* SUCCESSFUL REGISTRATION */

.successfulRegistrationContainer {
    height: 350px;
    width: 700px;
    border-radius: 35px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

    background-color: #070707;
    position: relative; 
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.successfulRegistrationContainer::after, .successfulRegistrationContainer::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 350px;
    width: 700px;
    background-image: conic-gradient(from var(--angle), #970000, #531212, #d51818, #970000, #531212, #d51818, #970000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.successfulRegistrationContainer::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* Notification */
.registrationSuccessfulBox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height:50px; 
    background-color: #070707;
    border: 1px solid #e1d9d9;

    color: #e1d9d9;
    box-shadow: 0 0 35px #970000;
}

.registrationSuccessfulBox h1 {
    font-size: 20px;
    color: #e1d9d9;
    text-shadow: 
        0 0 2px #970000,  
        0 0 2px #970000,
        0 0 2px #970000,
        0 0 2px #970000;
    letter-spacing: 5px;

    border-right: 2px solid;
    width: 463pX;
    white-space: nowrap;
    overflow: hidden;

    animation: 
        flicker 1.5s infinite alternate,
        typing 1.6s steps(24),
        cursor .4s step-end infinite alternate;
    }

.welcomeMessage {
    font-size: 15px;
    letter-spacing: 2px;
    color: #e1d9d9; 
    text-shadow: 
        0 0 5px #970000, 
        0 0 10px #970000,
        0 0 15px #970000,
        0 0 20px #970000;
    animation: 
        flicker 1.5s infinite alternate;
}

/* For animation */
@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width:0;
    }
}

/* BUTTON */
a {
    position: relative;
    background: #181818;
    color: #e1d9d9;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 8px 80px;
    transition: 0.5s;
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: #070707;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* RESPONSIVENESS */

@media (max-width: 800px) {
    .successfulRegistrationContainer{
        height: 300px;
        width: 600px;
    }

    .successfulRegistrationContainer::after, .successfulRegistrationContainer::before {
    height: 300px;
    width: 600px;
    }
}

@media (max-width: 650px) {
    .successfulRegistrationContainer{
        height: 300px;
        width: 400px;
    }

    .successfulRegistrationContainer::after, .successfulRegistrationContainer::before {
    height: 300px;
    width: 400px;
    }

    .registrationSuccessfulBox{
        width: 350px;
    }

    .registrationSuccessfulBox h1{
        font-size: 14px;
        letter-spacing: 2px;
        width: 290px;
    }

    .welcomeMessage{
        font-size: 12px;
    }

    a{
        padding: 8px 40px;
        font-size: 11px;
    }
}

@media (max-width: 450px) {
    .successfulRegistrationContainer{
        height: 300px;
        width: 300px;
    }

    .successfulRegistrationContainer::after, .successfulRegistrationContainer::before {
    height: 300px;
    width: 300px;
    }

    .registrationSuccessfulBox{
        width: 250px;
    }

    .registrationSuccessfulBox h1{
        font-size: 10px;
        letter-spacing: 1px;
        width: 200px;
    } 

    .welcomeMessage{
        font-size: 9px;
    }
}