@font-face {
    font-family: Pixelfy Variable;
    src: url(PixelfyVariable.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: PixelfyVariable;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registrationBox {
    background: black;
    padding: 20px;
    border: 2px solid red;
    text-align: center;
    font-size: 15px;
    color: white;
    width: 225px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px red;
}

.registrationBox h2 {
    margin: 0;
    padding: 8px;
}

form {
    background-color: black;
    border: 2px solid red;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px red;
}

.registrationInputsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    width: 70%;
}

.registrationInputsContainer label {
    font-size: 12px;
    margin-right: 10px;
    white-space: nowrap;
}

.registrationInputsContainer input {
    background: black;
    border: 1px solid white;
    padding: 8px;
    color: white;
    font-size: 14px;
    outline: none;
    box-shadow: 0 0 10px red;
    flex: 1;
}

.regRow {
    display: flex;
    justify-content: space-between;
    width: 69%;
    gap: 3px;
}

.regRow .registrationInputsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.regRow .registrationInputsContainer input {
    width: 100%;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 0 10px red;
    text-transform: uppercase;
}

button:hover {
    background-color: red;
    color: black;
    box-shadow: 0 0 20px red;
}
