/* FONTS */
@font-face {
    font-family: pixelated;
    src: url(fonts/pixel.ttf);
}

/* UNIVERSAL AND BODY */
* {
    margin: 0;
    padding: 0;
    font-family: pixelated;
}

body {
    background: #070707;
}

.wrapper {
    position: relative;
    display: flex;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

/* BUBBLE BACKGROUND */

.backgroundContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubbleBackground {
    position: absolute;
    display: flex;
}

.bubbleBackground span {
    width: 20px;
    height: 20px;
    background: #c51a1a;

    border-radius: 50%;
    box-shadow: 0 0 0 0px #c51a1a44,
        0 0 50px #c51a1a,
        0 0 60px #c51a1a;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

@media (max-width: 800px) {
    .bubbleBackground span {
        width: 15px;
        height: 15px;
    }
}

/* PLAYER AQUIRED NOTIFICATION */

.playerAcquiredContainer{
    height: 400px;
    width: 750px;
    border-radius: 35px;

    display: flex;
    justify-content: center;
    flex-direction: column;;
    
    background-color: #070707;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.playerAcquiredContainer::after, .playerAcquiredContainer::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 400px;
    width: 750px;
    background-image: conic-gradient(from var(--angle), #970000, #531212, #d51818, #970000, #531212, #d51818, #970000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.playerAcquiredContainer::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@media (max-width: 800px) {
    .playerAcquiredContainer{
        height: 400px;
        width: 600px;
    }

    .playerAcquiredContainer::after, .playerAcquiredContainer::before {
    height: 400px;
    width: 600px;
    }
}

/* BUTTON */

a{
    position: relative;
    background:#181818;
    color:#e1d9d9;
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 80px;
    transition: 0.5s;
}

a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before{
    content: '';
    position: absolute;
    inset: 1px;
    background: #070707;
}

a span{
    position: relative;
    z-index: 1;
}

a i{
    position: absolute;
    inset: 0;
    display: block;
}

a i::before{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 5px;
    height: 5px;
    border-radius: 20px;;
    border: 2px solid var(--clr);
    background: #070707;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::before { 
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    ;
    border: 2px solid var(--clr);
    background: #070707;
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* RESPONSIVENESS */

@media (max-width: 650px) {
    .playerAcquiredContainer {
        height: 400px;
        width: 400px;
    }

    .playerAcquiredContainer::after,
    .playerAcquiredContainer::before {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 450px) {
    .playerAcquiredContainer {
        height: 400px;
        width: 300px;
    }

    .playerAcquiredContainer::after,
    .playerAcquiredContainer::before {
        height: 400px;
        width: 300px;
    }
}